body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(147, 209, 229);
}

#color-options {
    display: flex;
    justify-content: space-around;
}

.color-option {

    padding: 10px;
    margin-top: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#main-content {
    margin-top: 100px;
    padding: 20px;
    background-color: black;
    color: white;
}

.selected {
    border: 2px solid black;
}